name: Env specific variable-secret WF
on:
 push: 
jobs:
  debug:
   runs-on: ubuntu-latest
   environment: Prod
   steps:
   - name: show env
     run: echo "DB password is ${{ secrets.DB_PASSWORD }}"
