name: Env specific variable-secret WF
on:
 workflow_dispatch:
    inputs:
      environment:
        description: "Choose environment"
        required: true
        default: "Dev"
        type: choice
        options:
          - Dev
          - Prod
jobs:
  debug:
   runs-on: ubuntu-latest
   environment: ${{ github.event.inputs.environment }}
   steps:
   - name: show env
     run: echo "DB password is ${{ vars.DB_URL }}"
